@model IEnumerable<WebSellingCosmetics.Models.Product>
@{
    ViewData["Title"] = "Sản phẩm";


}
<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <h1 class="display-3 mb-3 animated slideInDown">Sản Phẩm</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a class="text-body" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-body" href="#">Pages</a></li>
                <li class="breadcrumb-item text-dark active" aria-current="page">Sản phẩm</li>
            </ol>
        </nav>
    </div>
</div>


<!-- Feature End -->
<!-- Product Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                    <h1 class="display-5 mb-3">Danh sách sản phẩm</h1>
                    <p>Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
                </div>
            </div>
            <div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
                <div class="dropdown d-inline-flex justify-content-end mb-5">
                    <button class="btn btn-outline-primary border-2 dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Danh mục mỹ phẩm
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" asp-action="SanPham" asp-route-id="1">Son</a>
                        <a class="dropdown-item" asp-action="SanPham" asp-route-id="4">Trang điểm mắt</a>
                        <a class="dropdown-item" asp-action="SanPham" asp-route-id="2">Tẩy trang</a>
                        <a class="dropdown-item" asp-action="SanPham" asp-route-id="5">Trang điểm mặt</a>
                        <a class="dropdown-item" asp-action="SanPham" asp-route-id="3">Kem trộn</a>
                    </div>
                </div>

            </div>
        </div>
        <div style="text-align:center">
            <h1>Sản Phẩm </h1>
        </div>


        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">

                    @foreach (var item in Model)
                    {
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="product-item">
                                <div class="position-relative bg-light overflow-hidden">
                                    <a asp-action="Details" asp-controller="Product" asp-route-id="@item.ProductId">
                                        <img class="img-fluid w-100" src="@Url.Content("~/contents/Images/Product/" + item.Image)" style="width:300px;height:270px;" alt="Ảnh son">

                                    </a>
                                    <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">HOT</div>
                                </div>
                                <div class="text-center p-4">
                                    <a class="d-block h5 mb-2" asp-action="Details" asp-controller="Product" asp-route-id="@item.ProductId">@item.Name</a>
                                    <span class="text-primary me-1"> @string.Format("{0:N0}", @item.Price) VNĐ</span>
                                    <span class="text-body text-decoration-line-through">@string.Format("{0:N0}", @item.Price + 100000) VNĐ</span>
                                </div>
                                <div class="d-flex border-top">
                                    @if (item.ProductInventory?.QuantitySold >= item.ProductInventory?.Quantity)
                                    {
                                        <small class="w-100 text-center border-end py-2">
                                            <a class="text-body"><i class="fa fa-shopping-cart text-primary me-2"></i>Hết hàng</a>
                                        </small>
                                    }
                                    else
                                    {
                                        <small class="w-50 text-center border-end py-2">
                                            <a class="text-body" asp-action="BuyNow" asp-controller="Order" asp-route-id="@item.ProductId"><i class="fa fa-shopping-cart text-primary me-2"></i>Mua ngay</a>
                                        </small>
                                        <small class="w-50 text-center py-2">
                                            <a class="text-body" href="@Url.Action("AddToCart", "Order", new{ id=item.ProductId, strURL=Context.Request.Path})"><i class="fa fa-shopping-bag text-primary me-2"></i>Thêm giỏ hàng</a>
                                        </small>
                                    }
                                </div>
                            </div>
                        </div>

                    }



                    <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                        <a class="btn btn-primary rounded-pill py-3 px-5" href="">Xem thêm</a>
                    </div>
                </div>
            </div>


          


            
        </div>
    </div>
</div>
<!-- Product End -->
